<section class="hero">
  <h1>Bem-vindo à Verbo Divino</h1>
  <a href="https://www.instagram.com/oficialverbodivino/" class="btn">Nos acompanhe em nossas rede!</a>
</section>

<section class="about">
  <h2>Sobre Nós</h2>
  <p>Somos uma comunidade dedicada a espalhar a palavra de Deus e a promover o amor e a compaixão entre as pessoas. Nossa igreja foi fundada em 19XX e desde então temos crescido e prosperado, atendendo às necessidades espirituais de nossa comunidade. Acreditamos na importância da oração, do estudo da Bíblia e da ajuda mútua. Nossos valores incluem a igualdade, a compaixão e o respeito pelas diferenças. Venha se juntar a nós em nossos cultos, grupos de estudo e eventos especiais. Estamos ansiosos para conhecê-lo e compartilhar nossa fé com você.</p>
</section>


<section class="services">
  <h2>Nossos Serviços</h2>
  <p>Oferecemos uma variedade de serviços para atender às necessidades espirituais de nossa comunidade, incluindo cultos, grupos de estudo e programas sociais.</p>
</section>

<section class="events">
  <h2>Próximos Eventos</h2>
  <div class="event">
      <h3>Culto de Domingo</h3>
      <p>Data: XX/XX/XXXX</p>
      <p>Horário: XX:XX AM</p>
  </div>
  <div class="event">
      <h3>Grupo de Oração</h3>
      <p>Data: XX/XX/XXXX</p>
      <p>Horário: XX:XX PM</p>
  </div>
</section>

<section class="contact">
  <h2>Contato</h2>
  <p>Estamos aqui para ajudar. Entre em contato conosco se tiver alguma pergunta ou necessidade.</p>
  <ul>
      <li>Email: <a href="mailto:contato@igrejasagrada.com">contato@igrejasagrada.com</a></li>
      <li>Telefone: (XX) XXXX-XXXX</li>
  </ul>
</section>
