<section class="hero">
  <h1>{{ messages.bemVindo }}</h1>
  <a href="https://www.instagram.com/oficialverbodivino/" class="btn">
    {{ messages.sigaRede }}
  </a>
</section>

<section class="about">
  <h2>{{ messages.sobreNos }}</h2>
  <p>
    {{ messages.contandoSobre }}
  </p>
</section>

<app-servicos-carrousel></app-servicos-carrousel>

<section class="events">
  <h2>{{ messages.eventoTitulo }}</h2>
  <div class="event">
    <h3>Culto de Domingo</h3>
    <p>Data: XX/XX/XXXX</p>
    <p>Horário: XX:XX AM</p>
  </div>
  <div class="event">
    <h3>Grupo de Oração</h3>
    <p>Data: XX/XX/XXXX</p>
    <p>Horário: XX:XX PM</p>
  </div>
</section>

<section class="contact">
  <h2>Contato</h2>
  <p>
    Estamos aqui para ajudar. Entre em contato conosco se tiver alguma pergunta
    ou necessidade.
  </p>
  <ul>
    <li>
      Email:
      <a href="mailto:paroquia.verbodivino@gmail.com">paroquia.verbodivino@gmail.com</a>
    </li>
    <li>Telefone: (11) 5517-1664</li>
  </ul>
</section>
