@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

$cor-primaria: #333;
$cor-secundaria: #666;
$cor-destaque: #ff9900; /* Cor de destaque suave */

$cor-texto: #333;
$cor-fundo: #f9f9f9;
$cor-pressao: #6C3483;

.footer {
  background-color: $cor-destaque; /* Cor de destaque no fundo do footer */
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .social-icons {
    a {
      color: $cor-primaria;
      text-decoration: none;
      margin-right: 15px;
      font-size: 20px;
      transition: color 0.3s ease;

      &:hover {
        color: $cor-destaque; /* Cor do Facebook */
      }
    }
  }

  .church-info {
    display: flex;
    align-items: center;

    p {
      margin: 0;
      font-size: 14px;
      color: $cor-texto;
    }

    .fa-cross {
      font-size: 24px;
      color: $cor-primaria; /* Cor da cruz */
      margin-left: 10px; /* Ajuste o espaçamento conforme necessário */
    }
  }

  .contact {
    margin-top: 20px;
    padding: 20px;

    h2 {
      font-size: 18px;
      color: $cor-primaria;
      margin-bottom: 10px;
    }

    p {
      font-size: 14px;
      color: $cor-texto;
      margin-bottom: 15px;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        font-size: 14px;
        color: $cor-texto;
        margin-bottom: 8px;

        a {
          color: $cor-primaria;
          text-decoration: none;
          &:hover {
            color: $cor-destaque; /* Cor de destaque para o link de e-mail */
          }
        }
      }
    }
  }
}
