@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

$cor-primaria: #333;
$cor-secundaria: #666;
$cor-destaque: #F2C029;
$cor-texto: #333;
$cor-fundo: #f9f9f9;
$cor-pressao: #D5E7F2;

.footer {
  background-color: $cor-destaque;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .social-icons,
  .church-info,
  .contact {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
  }

  .social-icons {
    display: flex;
    justify-content: center;

    a {
      color: $cor-primaria;
      text-decoration: none;
      margin-right: 15px;
      font-size: 20px;
      transition: color 0.3s ease;

      &:hover {
        color: $cor-pressao;
      }
    }
  }

  .church-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      margin: 0;
      font-size: 14px;
      color: $cor-texto;
    }

    .fa-cross {
      font-size: 24px;
      color: $cor-primaria;
      margin-top: 10px;
    }
  }

  .contact {
    text-align: left;

    h2 {
      font-size: 18px;
      color: $cor-primaria;
      margin-bottom: 10px;
    }

    p {
      font-size: 14px;
      color: $cor-texto;
      margin-bottom: 15px;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        font-size: 14px;
        color: $cor-texto;
        margin-bottom: 8px;

        a {
          color: $cor-primaria;
          text-decoration: none;

          &:hover {
            color: $cor-pressao;
          }
        }
      }

      .secretary-info {
        background-color: darken($cor-destaque, 10%);
        color: white;
        display: flex;
        justify-content: center;
        padding: 10px;
        border-radius: 5px;
        font-weight: bold;
      }
      i {
        padding-right: 10px;
      }
    }
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;

    .social-icons,
    .church-info,
    .contact {
      width: auto;
      max-width: none;
      margin-bottom: 0;
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
