<footer class="footer">
  <div class="social-icons">
    <a href="https://www.facebook.com/suapagina" target="_blank"><i class="fab fa-facebook-f"></i></a>
    <a href="https://twitter.com/suapagina" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://twitter.com/suapagina" target="_blank"><i class="fab fa-instagram"></i></a>
  </div>
  <div class="church-info">
    <p>&copy; 2023 Nome da Igreja</p>
    <i class="fas fa-cross"></i>
  </div>

  <section class="contact">
    <h2>Contato</h2>
    <p>
      Estamos aqui para ajudar. Entre em contato conosco se tiver alguma pergunta
      ou necessidade.
    </p>
    <ul>
      <li>
        Email:
        <a href="mailto:paroquia.verbodivino@gmail.com">paroquia.verbodivino@gmail.com</a>
      </li>
      <li>Telefone: (11) 5517-1664</li>
    </ul>
  </section>
</footer>
