<div class="catholic-church-header">
  <div class="container">
    <div class="logo">
      <img
        src="../../../assets/img/verbodivino-logo.png"
        alt="Imagem de navegação"
      />
    </div>
    <div class="navigation">
      <ul class="nav-list">
        <li>
          <a href="/"> <i class="material-icons">home</i> Pagina Inicial </a>
        </li>
        <li>
          <a href="/"> <i class="material-icons">call</i> Contato </a>
        </li>
        <li>
          <a href="/"> <i class="material-icons">event</i> Eventos </a>
        </li>
        <li>
          <a href="/"> <i class="material-icons">work</i> Serviços </a>
        </li>
        <li>
          <a href="/">
            <i class="material-icons">account_circle</i> Login
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
