.catholic-church-header {
  background-color: #fff;
  padding: 20px;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .logo {
      img {
        max-width: 150px;
        height: auto;
      }
    }

    .navigation {
      ul.nav-list {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;

        li {
          margin-right: 20px;

          &:last-child {
            margin-right: 0;
          }

          a {
            text-decoration: none;
            color: #333;

            i {
              margin-right: 5px;
            }
          }
        }
      }
    }

    .mobile-menu-icon {
      display: none;
      cursor: pointer;

      & i {
        font-size: 24px;
      }
    }

    &.show-menu {
      .navigation {
        display: block;
        flex-direction: column;
        animation: slideIn 0.3s ease-in-out forwards;

        ul.nav-list {
          flex-direction: row;
          align-items: flex-start;
          padding: 10px;
          opacity: 1;
          animation: fadeIn 0.3s ease-in-out forwards;
        }
      }

      &.close-menu {
        .navigation {
          animation: slideOut 0.3s ease-in-out forwards;

          ul.nav-list {
            animation: fadeOut 0.3s ease-in-out forwards;
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .container {
      .mobile-menu-icon {
        display: block;
      }

      .navigation {
        display: none;
      }

      &.show-menu {
        .navigation {
          display: block;
        }
      }
    }
  }

  @keyframes slideIn {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slideOut {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(-100%);
      opacity: 0;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}
